<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Route all requests to Node unless a physical file exists -->
        <rule name="NodeServer" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Pass Node responses directly -->
    <httpErrors existingResponse="PassThrough" />
    <asp scriptErrorSentToBrowser="true" />
  </system.webServer>
</configuration>